<div id="jumbo" class="jumbotron">

    <div class="row text-center">
        <a id="back" class="glyphicon glyphicon-arrow-left" href="/"></a>

        <h1 id="float">Patrick Halton Portfolio</h1>

        <div id="half" class="col-sm-6 text-right">
            <a id="company" href="/about">About</a>

        </div>

        <div id="half1" class="col-sm-6 text-left">
            <a id="services" href="/resume">My Resume</a>
        </div>

    </div>
</div>

<div class="row">

    <div id="col1">
        <h3 id="ff">Patrick Halton</h3>
        <img class="prof" src="/www/img/prof.png" alt="pat">



    </div>

    <div id="col2">

        <h1 id="ab">About Me</h1><hr>

        <p class="big">I am a motivated and passionate web developer and designer.I also love providing great content to websites in order to give a website its maximum potential. I am familiar in javascript, nodeJS, html, css, foundation, photoshop, illustrator,python, codeigniter, mySQL but I love php. Always eager to learn to learn new technologies and problem solve.</p>
        <p class="big">I also have a great passion in the business side of websites. By myself, I was able to make fully functional web applications for clients before I finished my degree program. I love talking with clients and have very good verbal communication skills that seek out exactly what a client needs and enough information from the client to help me make the best desired product.</p>


    </div>

    <div id="down" class="row">

    </div>






</div>

